
body {
    background: lightblue;
}
/* ESTILOS */

.iniciarProblema{
    padding: 10px;
    padding-top: 50px; 
}

.row{
    margin: 10px;
}

/* SELEÇÃO POR CLASSE */


/* SELEÇÃO POR ID */

#tabelaDoProblema, #alertaVazio, #alertaProb{
    display: none;
}

#comeco{
    margin: 15px;
}

/*  SELEÇÃO POR NOME */
input[name=xs]{
    max-width: 100px;
    margin: 5px;
}
}
